{
    "rules": {
      "human_speaking": {
        "allowed_sources": ["gui", "stt"],
        "min_priority": 1
      },
      "ai_speaking": {
        "allowed_sources": ["tts"],
        "min_priority": 2
      },
      "tts_ready": {
        "allowed_sources": ["llm"],
        "min_priority": 5
      },
      "tts_text": {
        "allowed_sources": ["llm", "tts"],
        "min_priority": 3
      },
      "user_wants_to_talk": {
        "allowed_sources": ["gui", "stt"],
        "min_priority": 1
      },
      "stt_ready": {
        "allowed_sources": ["stt", "llm"],
        "min_priority": 5
      },
      "ai_thinking": {
        "allowed_sources": ["llm"],
        "min_priority": 5
      },
      "interrupt_ai_speech": {
        "allowed_sources": ["stt", "tts"],
        "min_priority": 10
      }
    },

    "redis": {
      "host": "localhost",
      "port": 6379,
      "password": "rhost21",
      "decode_responses": true,
      "socket_timeout": 5,
      "socket_connect_timeout": 5,
      "retry_on_timeout": true
    },

    "stt": {
      "whisper_server_url": "http://localhost:8081",
      "whisper_api_url": "http://localhost:8081/inference",
      "whisper_health_url": "http://localhost:8081/health",
      "sampling_rate": 16000,
      "channels": 1,
      "chunk_size": 512,
      "vad_threshold": 0.5,
      "amplitude_threshold": 0.05,
      "silence_duration": 2.0,
      "min_audio_length": 1.0,
      "max_recording_duration": 180
    },

    "comment": "TTS Providers: replicate, openai",

    "tts": {
      "_comment": "TTS Providers: replicate, openai",
      "tts_provider": "replicate",
      "replicate_model": "jaaari/kokoro-82m:f559560eb822dc509045f3921a1921234918b91739db4bf3daab2169b71c7a13"
    },

    "api_keys": {
      "openai_api_key": "",
      "groq_api_key": "",
      "replicate_api_key": ""
    },

    "memory": {
      "db_store": "shortmemdb",
      "collection_name": "ConversationMemory",
      "cluster_url": "http://localhost:8080"
    },

    "lorebook": {
      "creator": "",
      "likes": "",
      "hobbies": "",
      "mangas": "",
      "gaming": ""
    },

    "llm": {
      "llama_cpp": {
        "_comment": "Set to true if want to use",
        "enabled": "true",
        "port": "8084",
        "api_key": "not-needed",
        "model": "local-model"
      },

      "ollama": {
        "_comment": "Set to true if want to use",
        "enabled": "false"
        "port": "11434",
      },

      "lmstudio": {
        "_comment": "Set to true if want to use",
        "enabled": "false"
        "port": "1234",
      },

      "vllm": {
        "_comment": "Set to true if want to use",
        "enabled": "false",
        "bearer": "",
        "model": "", 
        "vast_ai_ip": "",
        "vast_ai_port": ""
      }
    }
  }
